# OS junk
.DS_Store

# Editors / IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.venv/
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project artifacts
output/
input/

# Misc
*.log
